<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.huaqi_2020.dao.UserDao">
    <resultMap id="UserResultMap" type="cn.edu.whu.huaqi_2020.dao.dataObject.UserDO">
        <result column="id" jdbcType="VARCHAR" property="id"></result>
        <result column="nickname" jdbcType="VARCHAR" property="nickName"></result>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
        <result column="head_url" jdbcType="VARCHAR" property="headUrl"></result>
        <result column="role" jdbcType="INTEGER" property="role"></result>
        <result column="profession" jdbcType="VARCHAR" property="profession"></result>
        <result column="consume" jdbcType="VARCHAR" property="consume"></result>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="UserResultMap">
        select * from user where id = #{id}
    </select>

<!--    动态sql可变字段查询-->
    <select id="selectByExample" parameterType="cn.edu.whu.huaqi_2020.dao.dataObject.UserDO" resultMap="UserResultMap">
        select * from user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="nickName != null">
                AND nickname = #{nickName}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
            <if test="headUrl != null">
                AND head_url = #{headUrl}
            </if>
            <if test="role != null">
                AND role = #{role}
            </if>
            <if test="profession != null">
                AND profession = #{profession}
            </if>
            <if test="consume != null">
                AND consume = #{consume}
            </if>
        </where>
    </select>

    <!--    是mybatis获取数据库生成的自增主键值注入给对象-->
<!--    useGeneratedKeys="true" keyProperty="id"-->
    <insert id="insert" parameterType="cn.edu.whu.huaqi_2020.dao.dataObject.UserDO">
        insert into user(id,nickname,password,head_url,role,profession,consume) values
        (#{id},#{nickName},#{password},#{headUrl},#{role},#{profession},#{consume})
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.edu.whu.huaqi_2020.dao.dataObject.UserDO">
        update user set nickname=#{nickName},password=#{password},head_url=#{headUrl},
        role=#{role},profession=#{profession},consume=#{consume} where id=#{id}
    </update>

<!--    部分字段更新-->
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.whu.huaqi_2020.dao.dataObject.UserDO">
        update user
        <set>
            <if test="nickName != null">
                nickname = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="headUrl != null">
                headUrl = #{headUrl,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=INTEGER},
            </if>
            <if test="profession != null">
                profession = #{profession,jdbcType=VARCHAR},
            </if>
            <if test="consume != null">
                consume = #{consume,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from user where id = #{id}
    </delete>

</mapper>