<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.huaqi_2020.dao.BusinessSpecial1Dao">
    <resultMap id="B1ResultMap" type="cn.edu.whu.huaqi_2020.entities.business.BusinessSpecial1">
        <result column="id" jdbcType="VARCHAR" property="id"></result>
        <result column="business_id" jdbcType="VARCHAR" property="businessId"></result>
        <result column="sale_money" jdbcType="DOUBLE" property="saleMoney"></result>
        <result column="sale_num" jdbcType="INTEGER" property="saleNum"></result>
        <result column="date" jdbcType="DATE" property="date"></result>
        <result column="visitor" jdbcType="INTEGER" property="visitor"></result>
        <result column="search" jdbcType="INTEGER" property="search"></result>
        <result column="rate" jdbcType="DOUBLE" property="rate"></result>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="B1ResultMap">
        select * from business_special1 where id = #{id}
    </select>

<!--    动态sql可变字段查询-->
    <select id="selectByExample" parameterType="cn.edu.whu.huaqi_2020.entities.business.BusinessSpecial1" resultMap="B1ResultMap">
        select * from business_special1
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="businessId != null">
                AND business_id = #{businessId}
            </if>
            <if test="saleMoney != null">
                AND sale_money = #{saleMoney}
            </if>
            <if test="saleNum != null">
                AND sale_num = #{saleNum}
            </if>
            <if test="date != null">
                AND date = #{date}
            </if>
            <if test="visitor != null">
                AND visitor = #{visitor}
            </if>
            <if test="search != null">
                AND search = #{search}
            </if>
            <if test="rate != null">
                AND rate = #{rate}
            </if>
        </where>
    </select>

    <!--    是mybatis获取数据库生成的自增主键值注入给对象-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="cn.edu.whu.huaqi_2020.entities.business.BusinessSpecial1">
        insert into business_special1(id,business_id,sale_money,sale_num,date,visitor,search,rate) values
        (#{id},#{businessId},#{saleMoney},#{saleNum},#{date},#{visitor},#{search},#{rate})
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.edu.whu.huaqi_2020.entities.business.BusinessSpecial1">
        update business_special1 set sale_money=#{saleMoney},sale_num=#{saleNum},
        date=#{date},visitor=#{visitor},search=#{search},rate=#{rate} where id=#{id}
    </update>

<!--    部分字段更新-->
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.whu.huaqi_2020.entities.business.BusinessSpecial1">
        update business_special1
        <set>
            <if test="saleMoney != null">
                sale_money = #{saleMoney}
            </if>
            <if test="saleNum != null">
                sale_num = #{saleNum}
            </if>
            <if test="date != null">
                date = #{date}
            </if>
            <if test="visitor != null">
                visitor = #{visitor}
            </if>
            <if test="search != null">
                search = #{search}
            </if>
            <if test="rate != null">
                rate = #{rate}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from business_special1 where id = #{id}
    </delete>

</mapper>