<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.huaqi_2020.dao.OwnerDataDao">
    <resultMap id="ODResultMap" type="cn.edu.whu.huaqi_2020.entities.data.OwnerData">
        <result column="id" jdbcType="INTEGER" property="id"></result>
        <result column="owner_id" jdbcType="VARCHAR" property="ownerId"></result>
        <result column="money" jdbcType="DOUBLE" property="money"></result>
        <result column="num" jdbcType="INTEGER" property="num"></result>
        <result column="date" jdbcType="DATE" property="date"></result>
    </resultMap>
    <select id="selectByPrimaryKey" resultMap="ODResultMap">
        select * from owner_data where id = #{id}
    </select>

<!--    动态sql可变字段查询-->
    <select id="selectByExample" parameterType="cn.edu.whu.huaqi_2020.entities.data.OwnerData" resultMap="ODResultMap">
        select * from owner_data
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="ownerId != null">
                AND owner_id = #{ownerId}
            </if>
            <if test="money != null">
                AND money = #{money}
            </if>
            <if test="num != null">
                AND num = #{num}
            </if>
            <if test="date != null">
                AND date = #{date}
            </if>
        </where>
    </select>

    <!--    是mybatis获取数据库生成的自增主键值注入给对象-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="cn.edu.whu.huaqi_2020.entities.data.OwnerData">
        insert into owner_data(id,owner_id,money,num,date) values
        (#{id},#{ownerId},#{money},#{num},#{date})
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.edu.whu.huaqi_2020.entities.data.OwnerData">
        update owner_data set money=#{money},num=#{num},
        date=#{date} where id=#{id}
    </update>

<!--    部分字段更新-->
    <update id="updateByPrimaryKeySelective" parameterType="cn.edu.whu.huaqi_2020.entities.data.OwnerData">
        update owner_data
        <set>
            <if test="money != null">
                money = #{money},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="date != null">
                date = #{date}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from owner_data where id = #{id}
    </delete>

</mapper>